/* Site color */

$primary:#000000;
$black:#000000;
$white:#ffffff;
$lightGreen:#cdeb8b;
$red:#e60000;
$lightGray:#e6e6e6;
$lightBlue:#96C0CE;
$darkGray:#525564;
$brown:#C25B56;
$lightBlack:#232734;
$darkRed:#e60000;
$green:#46a74e;

