<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <span class="footerHeader">Visit Our ShowRoom</span>
        <p>
          <span class="addressH">Cras vehicula nunc</span>
          <span class="addressH">Nulla ut risus</span>
          <span class="addressH">Etiam in cursus 60 017 89</span>
        </p>
      </div> <!-- col-md-3 -->
      <div class="col-md-3">
        <span class="footerHeader">Get In Touch</span>
        <p>
          <span class="addressH">40 84 201 27 53</span>
          <span class="addressH"><a href="mailto:info@test.com">info@webshop.com</a></span>
        </p>
      </div> <!-- col-md-3 -->
      <div class="col-md-6 text-right">
        <span class="copyRightH">@ 2018 Webshop</span>
      </div> <!-- col-md-6 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
</footer>
